<html>
	<body>
		<h3>Welcome ${name},</h3>
		<p>
		Someone recently required the link to reset your password, you can do this by clicking on the links below.
		<br/>Link: <a href="${url}">Password Changed</a>
		<br/>If you do not have requirement, please ignore the email.
		<br/>Your password will not be changed until you click on the link below.
		</p>
	</body>
</html>